body {
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}

nav a {
    padding: 10px 15px;
    display: inline-block;
    color: #333;
    text-decoration: none;
}

.primary-blue {
    color: #0058a3;
}

.primary-yellow {
    color: #ffcc00;
}

nav a {
    color: #0058a3;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav a:hover {
    background-color: #ffcc00;
    color: #0058a3;
}

.button {
    background-color: #0058a3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ffcc00;
    color: #0058a3;
}

.text-primary {
    color: #0058a3;
}

.text-secondary {
    color: #ffcc00;
}

.bg-primary {
    background-color: #0058a3;
}

.bg-secondary {
    background-color: #ffcc00;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #0058a3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #ffcc00;
    color: #0058a3;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0058a3;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.knipsel-image img {
    max-width: 100%;
    max-height: 200px;
}
.home-page .knipsel-image {
    margin-top: 0;
}
h1, p{
    text-align: center;
}
.home-page{
    height: 55vh;
}
